/* css reset */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/*--- end of reset ----*/

:root {
  --blanco: white;
  --navy-bg: #0e2431;
  --gris-oscuro: #1e1e1e;
  --main-font: 'Oswald', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
  --primary-color: #0571f8;
  /* typography */
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --body-font-size: 1rem;
  --icon-size: 2rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --body-font-size: 1.5rem;
    --icon-size: 2.5rem;
  }
}

body {
  align-items: center;
  background-color: var(--navy-bg);
  display: flex;
  flex-direction: column;
  font-size: var(--body-font-size);
  font-family: var(--secondary-font);
  color: var(--blanco);
}

.skip-link {
  height: 0;
  color: var(--navy-bg);
}
.skip-link:focus,
.skip-link:active {
  height: auto;
  display: block;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: inherit;
  color: var(--blanco);
  margin-top: 4em;
  padding: 0.75em 1.75em;
  cursor: pointer;
}

.skip-link:focus {
  outline: 0.25em solid var(--blanco);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.header__tittle {
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--h1-font-size);
}

.header__subtitle {
  color: var(--primary-color);
  font-size: var(--h2-font-size);
}

.header__img {
  border: 1px solid var(--gris-oscuro);
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.nav__item {
  display: flex;
  gap: 1em;
}

.nav__item li a {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: var(--body-font-size);
}

.nav__item li a:hover,
.nav__item li a:focus {
  background-color: var(--primary-color);
}
.nav__item li a:focus {
  outline: none;
}

.section {
  margin: 2em 0;
}
.intro {
  width: 85%;
  margin: 24px auto;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  margin-top: 32px;
}

.social-media li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.85;
  transition: 0.3s all ease-out;
}
li a:focus {
  outline: none;
}

.social-media li a:hover,
.social-media li a:focus {
  transform: scale(1.25);
  opacity: 1;
}

.social-media li i {
  color: var(--primary-color);
  font-size: var(--icon-size);
}

.social-links-tittle {
  margin-top: 0.5em;
  font-weight: bold;
}

#projects {
  margin: 2em 0;
  padding-top: 2em;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px 0 64px;
}

.window {
  overflow: hidden;
  width: 100%;
  padding: 2em;
}

.project-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 284px);
}

.project-container button {
  background: none;
  border: none;
  margin-bottom: 2em;
  padding: 0;
  transition: all 0.2s ease-in-out;
}
.project-container button:hover,
.project-container button:focus {
  cursor: pointer;
  transform: scale(1.1);
  outline: none;
}

.project {
  border-radius: 5px;
  height: 380px;
  object-fit: cover;
}

.arrow {
  height: 30px;
  transition: all 0.2s ease-in-out;
  width: 30px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: none;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow-left {
  background: center / contain no-repeat url(./images/play-button-left.png);
}

.arrow-right {
  background: center / contain no-repeat url(./images/play-button-right.png);
}

.arrow-left,
.arrow-right {
  background-color: var(--primary-color);
}

.contact-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 6em;
  background-color: var(--gris-oscuro);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 85%;
}

.message-input {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  outline: none;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
}

.send-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: inherit;
  margin-bottom: 2em;
  margin-left: auto;
  padding: 0.75em 1.75em;
  cursor: pointer;
}

.send-button:focus {
  outline: 0.25em solid var(--blanco);
}

.notification {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 8px 16px 32px 0px var(--shadow);
  color: var(--blanco);
  display: none;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 24px;
  top: 24px;
  width: 300px;
}

.modal-container {
  align-items: center;
  background-color: rgba(000, 000, 000, 0.2);
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.modal {
  align-items: center;
  background-color: var(--gris-oscuro);
  border-radius: 5px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  position: fixed;
  top: 15%;
  width: 700px;
}

.modal-project-image {
  background: center / cover no-repeat url(./images/project1.png);
  border-radius: 5px;
  border: 2px solid #000;
  height: 400px;
  margin: 16px;
  width: 550px;
}
.footer {
  text-align: center;
  padding: 2em 0;
}
