/* css reset */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/*--- end of reset ----*/

:root {
  --blanco: white;
  --navy-bg: #0e2431;
  --gris-oscuro: #1e1e1e;
  --main-font: 'Oswald', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
  --primary-color: #0571f8;
  /* typography */
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --body-font-size: 1rem;
  --icon-size: 2rem;
  /* states */
  --outline-focus: 0.25em solid var(--primary-color);
  --border-sm: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --body-font-size: 1.5rem;
    --icon-size: 2.5rem;
  }
}

body {
  display: flex;
  align-items: center;
  background-color: var(--navy-bg);
  flex-direction: column;
  font-size: var(--body-font-size);
  font-family: var(--secondary-font);
  color: var(--blanco);
}

.skip-link {
  height: 0;
  color: var(--navy-bg);
  border-radius: var(--border-sm);
}
.skip-link:focus,
.skip-link:active {
  height: auto;
  background-color: var(--primary-color);
  border: 0.35em solid var(--navy-bg);
  font-size: inherit;
  color: var(--blanco);
  margin-top: 4em;
  padding: 0.75em 1.75em;
  cursor: pointer;
  outline: var(--outline-focus);
}

/* .skip-link:focus {
} */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.header__tittle {
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--h1-font-size);
}

.header__subtitle {
  color: var(--primary-color);
  font-size: var(--h2-font-size);
}

.header__img {
  width: 300px;
  object-fit: cover;
}

.nav__item {
  display: flex;
  gap: 1em;
}

.nav__item li a {
  padding: 0.25em 0.75em;
  cursor: pointer;
  border-radius: var(--border-sm);
  font-size: var(--body-font-size);
}

.nav__item li a:hover,
.nav__item li a:focus {
  background-color: var(--primary-color);
}
.nav__item li a:focus {
  outline: none;
}

.section {
  margin: 2em 0;
}
.intro {
  width: 85%;
  margin: 24px auto;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  margin-top: 32px;
}

.social-media li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.85;
  transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
li a:focus {
  outline: none;
}

.social-media li a:hover,
.social-media li a:focus {
  transform: scale(1.1);
  opacity: 1;
}

.social-media li i {
  color: var(--primary-color);
  font-size: var(--icon-size);
}

.social-links-tittle {
  font-family: var(--main-font);
  margin-top: 0.5em;
  letter-spacing: 0.05em;
}

/* Image-Slider */
.slider {
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: 2em auto 0;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
  position: relative;
}
.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
  object-fit: cover;
}

/* css for manual slide navigation */
.navigation-manual {
  display: none;
  position: absolute;
  bottom: 1em;
  width: 800px;
}
.manual-btn {
  border: 2px solid var(--primary-color);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: var(--primary-color);
  opacity: 0.5;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for automatic navigation */

.navigation-auto {
  display: none;
  position: absolute;
  bottom: 1em;
  width: 800px;
}

@media screen and (min-width: 800px) {
  .navigation-auto,
  .navigation-manual {
    display: flex;
    justify-content: center;
  }
}

.navigation-auto div {
  border: 2px solid var(--primary-color);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: var(--primary-color);
  opacity: 0.5;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: var(--primary-color);
  opacity: 0.5;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: var(--primary-color);
  opacity: 0.5;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: var(--primary-color);
  opacity: 0.5;
}

.contact-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 6em;
  background-color: var(--gris-oscuro);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 85%;
}

.message-input {
  display: flex;
  flex-direction: column;
}

.form-input,
textarea {
  outline: none;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
}
input:focus,
textarea:focus {
  outline: var(--outline-focus);
}

.send-button {
  background-color: var(--primary-color);
  border: 0.35em solid var(--navy-bg);
  border-radius: var(--border-sm);
  color: white;
  font-size: inherit;
  margin: 2em 0 2em auto;
  padding: 0.75em 1.75em;
  cursor: pointer;
  transition: 0.3s all cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.85;
}
.send-button:hover,
.send-button:focus {
  opacity: 1;
  transform: translateY(-0.2em);
  box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
    0.75em 1em -1em hsla(0, 0%, 50%, 0.5);
}
.send-button:focus {
  outline: var(--outline-focus);
}

.notification {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 8px 16px 32px 0px var(--shadow);
  color: var(--blanco);
  display: none;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 24px;
  top: 24px;
  width: 300px;
}

.modal-container {
  align-items: center;
  background-color: rgba(000, 000, 000, 0.2);
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.modal {
  align-items: center;
  background-color: var(--gris-oscuro);
  border-radius: 5px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  position: fixed;
  top: 15%;
  width: 700px;
}

.modal-project-image {
  background: center / cover no-repeat
    url('https://i.postimg.cc/bwCKfLX9/project1.jpg');
  border-radius: 5px;
  border: 2px solid #000;
  height: 400px;
  margin: 16px;
  width: 550px;
}
.footer {
  text-align: center;
  padding: 2em 0;
}
